.dark-theme {
  .ce-toolbar__plus {
    color: #fff !important;
    background-color: #1e1e1e;
  }
  .ce-toolbar__plus:hover {
    background-color: #616161;
  }
  .ce-toolbar__settings-btn {
    color: #fff !important;
    background-color: #1e1e1e;
  }
  .ce-toolbar__settings-btn:hover {
    background-color: #616161;
  }
  .ce-block--selected .ce-block__content{
    background-color: #7c7c7c;
  }
  .ce-popover--opened > .ce-popover__container {
    background-color: #2a2a2c;
    border: 1px solid transparent;
    color: #fff;
  }
  .ce-popover-item {
    color: #fff;
  }
  .ce-popover-item-html button.ce-inline-tool--link {
    color: #fff;
  }
  .ce-popover-item-html button:not(.ce-inline-tool--link) svg {
    fill: white;
  }
  .ce-popover-item-html[data-item-name="underline"] svg {
    color: #fff;
  }
  .ce-inline-tool--active {
    background: rgba(56,138,229,.5);
  }
  .ce-popover-item:hover {
    background-color: #1e1e1e;
  }
  .cdx-search-field {
    background-color: #1e1e1e;

    input {
      color: #fff;
    }
  }
  .cdx-attaches__title {
    color: #2a2a2c;
  }
  .cdx-attaches__download-button {
    background-color: #2a2a2c !important;
  }
  .ce-code textarea {
    background-color: #2a2a2c;
    border: none;
    color: #e8e8e8;
  }
}

.cdx-list__checkbox--checked {
  line-height: 23px !important;
}
.cdx-list__item {
  line-height: 23px !important;
}
.cdx-list__checkbox-check, .cdx-list__checkbox {
  height: 23px !important;
  width: 23px !important;

  svg {
    height: 23px !important;
    width: 23px !important;
  }
}
.tc-wrap {
  margin-top: 28px !important;
}
.tc-toolbox .tc-popover {
  position: relative !important;
}
@media (max-width: 600px) {
  .cdx-list__checkbox--checked {
    line-height: 30px !important;
  }
  .cdx-list__item {
    line-height: 30px !important;
  }
  .cdx-list__checkbox-check, .cdx-list__checkbox {
    height: 30px !important;
    width: 30px !important;

    svg {
      height: 30px !important;
      width: 30px !important;
    }
  }
  .tc-toolbox .tc-popover {
    left: 0
  }
}