.cdx-list__checkbox--checked {
  line-height: 23px !important;
}
.cdx-list__item {
  line-height: 23px !important;
}
.cdx-list__checkbox-check, .cdx-list__checkbox {
  height: 23px !important;
  width: 23px !important;

  svg {
    height: 23px !important;
    width: 23px !important;
  }
}